form#uploadform,
form#contactform {
    text-align: left;
    color: #FFF;
    background-color: #EAB856;
    padding: 1em;
    /* background: #BD1F1A;
    border-radius: 1em;
    margin:1em;
    padding:1em; */
}

form#uploadform h1,
form#contactform h1 {
    text-align: center;
    font-size: 30px;
}

form#uploadform input, form#uploadform select, form#uploadform textarea,
form#contactform input, form#contactform select, form#contactform textarea {
    color: #000;
    background-color: #FFF;
    font-size: 16px;
    border: none;
    padding: 0.3em;
    margin: 0.1em;
    width: calc(100% - 200px);
    min-width: calc(100% - 200px);
    max-width: calc(100% - 200px);
    /* color:black;
    background: white;
    border:0;
    border-radius: 0.4em;
    margin:0.4em;
    padding:0.2em;
    min-width: 50%;
    max-width: 50%; */
}

form#uploadform textarea,
form#contactform textarea {
    height: 0;
    min-height: 2em;
    max-height: 6em;
}

form#uploadform input[type=submit],
form#contactform input[type=submit] {
    background-color: #5CB7A1;
    color: #FFF;
    border-radius: 5%;
    min-width: min-content;
    max-width: min-content;
    width: min-content;
    /* min-width: 0%;
    max-width: 100%;
    width: min-content;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 0.4em; */
}

form#uploadform input[type=submit]:hover,
form#contactform input[type=submit]:hover {
    cursor: pointer;
    background-color: #BD1F1A;
    /* cursor: pointer;
    color: transparent;
    text-shadow: black -1px -1px 0; */
}

form#uploadform input[type=submit]:active,
form#contactform input[type=submit]:active {
    color: transparent;
    text-shadow: #FFF 1px 1px 0;
    /* cursor: pointer;
    color: transparent;
    background: #999;
    text-shadow: black 1px 1px 0; */
}

form#uploadform a,
form#contactform a {
    color:#5CB7A1;
    text-decoration: none;
}

form#uploadform a:hover,
form#contactform a:hover {
    color:#BD1F1A;
    text-decoration: none;
}

/* ERROR AND SUCCESS */

p.error {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-size: 30px;
    color:#FFF;
    background-color: #BD1F1A;
}

p.success {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-size: 30px;
    color:#FFF;
    background-color: #5CB7A1;
}

/* OTHER */

img.thumbnail-img {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: auto;
}

article * {
    box-sizing: border-box;
}

/* SELECTION */

/* Remove blue border from tab select. */
:focus {
    outline: 0;
}

/* Customize text highlight color. */
::selection {
    background: #CC3333CC; /* DEFAULT */
    color: #fff; /* DEFAULT */
}

/* Change the placeholder color. */
::placeholder {
    color: #666; /* DEFAULT */
    -webkit-text-fill-color: #666; /* Because of autofill - Chrome */
}