@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Quicksand');

/* ***************************** For Mobile Screens ***************************** */
body {
  width: 100%;
  font-family: 'Muli', sans-serif;
}

header, #mobileNav ul li {
  text-align: center;
}

/* Placeholder for Images and Articles */
.trend-img, .recent-img, .videos-img, .top-img, .social-img, #division .recent-img, .post-img, .comment-img, .vid-img {
  background-color: #adf1f7;
  text-align: center;
}

.post-img {
  max-height: 720px;
}

.trend-img, .recent-img, .videos-img, #division .recent-img, .post-img, .vid-img {
  padding: 0;
  margin-left: 0.5em;
}

.vid-img{
  margin-bottom: 0.5em;
}

.social-img {
  padding: 2em;
  margin-bottom: 0.5em;
}

.comment-img {
  padding: 3em;
}

/* ***************** Header ********************* */
header {
  background-color: #BD1F1A;
  color: #FFF;
  padding: 0.5em;
}

h1 {
  font-weight: 700;
  margin-left: 1em;
}

/* ****** Hamburger Icon ****** */
#open .hamburger {
  background-color: #FFF;
}

#open, #close {
  margin: -4.4em 0 0 0.75em;
}

#open {
  top: 1.5em;
  left: 1em;
}

#close {
  display: none;
  margin: -9.4em 0 0 -1.5em;
}

#open .hamburger {
  border-radius: 10%;
  width: 40px;
  height: 7px;
  margin: 7px 0;
}

#close p {
  font-family: 'Quicksand';
  font-size: 60px;
  color: #FFF;
  font-weight: bold;
}

/* ************** Mobile Navigation Layout ************* */
#displayNone, #mainNav, .submenu, #reports, #mobileNav {
  display: none;
}

#mobileNav {
  font-size: 20px;
  padding: 0.9em;
  margin-top: -1.5em;
}

#mobileNav ul li {
  background-color: #EAB856;
  color: #EAB856;
  border-top: 0.5px solid #FFF;
  border-bottom: 0.5px solid #FFF;
  width: 99.5%;
  padding: 0.5em;
  list-style-type: none;
}

#mobileNav ul li:hover, #mobileRep ul li, #mobileAbt ul li, #mobileContact ul li {
  background-color: #5CB7A1;
}

#mobileNav ul {
  margin: -1.5em 0 0 -3em;
}

#mobileNav ul li, #mobileNav a {
  color: #FFF;
}

#mobileNav a, h3 a {
  text-decoration: none;
}

/* *** Mobile Navigation Submenu ***  */
.submenu li a {
  margin-left: 0.5em;
}

#mobileRep ul li:hover, #mobileAbt ul li:hover, #mobileContact ul li:hover {
  background-color: #BD1F1A;
}

#reports, #mobileabout, #mobilecont {
  margin-left: 1.2em;
  width: 103.2%;
}

/* Reports */
#reports {
  padding-top: 2em;
}

/* About */
#mobileabout {
  padding-top: 2em;
}

/* Contact */
#mobilecont {
  padding-top: 1.8em;
}

/* **************** Mobile Articles Layout ************** */
h2.title, h2.title a, h2.title a:link, h2.title a:visited {
  color:black;
}

h2.title a:hover, h2.title a:active {
  color:#BD1F1A;
}

section h2 {
  color: #318c75;
  font-size: 35px;
  padding: 0.5em 0 0 0.4em;
  margin-bottom: 0.5em;
}

#recent, #aside {
  border-top: 1px solid lightgray;
}

h3 a {
  color: #494a4c;
}

/* *** Trending and Recent Articles *** */
h3, h4, time, p {
  margin-left: 0.75em;
}

h3 {
  font-size: 25px;
  margin-top: -0.25em;
}

h4 {
  font-weight: lighter;
}

.author {
  color: #e8a217;
  margin-top: -1em;
}

article p, time {
  display: none;
}

.category, .category a, .more a {
  color: #5CB7A1;
}

.category {
  padding-bottom: 0.25em;
  border-bottom: 1.5px solid #5CB7A1;
  /* width: 5.5em; */
  width: max-content;
}

.category:hover, .category:hover a, h3 a:hover, .more a:hover {
  color: #BD1F1A;
}

.category:hover {
  border-bottom: 1.5px solid #BD1F1A;
}

/* *** Aside Content (Videos + Social Media) *** */
#aside h3 {
  margin-top: 1em;
}

.more {
  text-align: right;
  font-size: 18px;
  font-weight: normal;
  margin-left: -1em;
}

.more a {
  text-decoration: none;
  padding-right: 1em;
}

/* ****** Subscribe ****** */
#subscribe2 {
  display: none;
}

#subscribe, #subscribe2 {
  text-align: center;
  background-color: #EAB856;
  padding: 1em;
}

#subscribe h2, #subscribe2 h2 {
  color: #FFF;
}

#subscribe h2 {
  font-size: 30px;
}

input[type="text"], .button {
  border: none;
  padding: 0.3em
}

.button {
  background-color: #5CB7A1;
  color: #FFF;
  border-radius: 5%;
  margin-left: 0.1em;
}

.button:hover {
  background-color: #BD1F1A;
}

/* ******* Division Category Page/Sections ******** */
#division-topstories .category, #division .category {
  display: none;
}

#division-topstories h3, #division h3, #division-aside h3 {
  margin-top: 0.5em;
}

#division-heading h2 {
  font-size: 45px;
}

#division .more {
  padding-left: 2em;
  text-align: left;
}

#division .more a {
  font-size: 30px;
}

/* ************** Single Post Article ****************** */
#share-buttons {
  margin-left: 1em;
  padding-bottom: 1em;
}

#share-buttons *, #share-buttons-normal * {
  margin:0;
  padding:0;
  border:0;
  /* margin-left: 1em;
  padding-bottom: 1em; */
}

#share-buttons a {
  padding-right: 0.75em;
}

#post .category {
  margin-top: 2em;
  border: none;
}

#post .category a {
  font-size: 50px;
}

#post h2 {
  color: #000;
  font-size: 40px;
}

#post h4 {
  font-size: 20px;
}

#post p {
  display: block;
}

#main-article h4 a {
  text-decoration: none;
}

/* ******* Comment Section ******* */

/* #comment-section h2 {
  border-top: 1px solid gray;
  color: #EAB442;
}

.comment-img {
  margin-left: 1em;
  width: 10%;
}

#comment-section section {
  display: flex;
}

#comment-section form {
  margin-left: 1em;
}

#comment-section input[type="text"], textarea {
  background-color: lightgray;
}

textarea {
  border: none;
}

#comment-section .button {
  margin-left: 8.5em;
} */

/* ********** Mobile Videos Section ********* */
iframe{
  width: 370px;
  margin-bottom: 1em;
}

.video-title{
  padding: 0.5em 1em 0.5em 1em;
  background-color: #5CB7A1;
  color: #FFF;
  font-size: 33px;
  line-height: 1.5em;
}

.singleVid{
  text-decoration: none;
  color: #BD1F1A;
}

.singleVid:hover{
  color: #EAB442;
}

.singleVid h3{
  font-size: 20px;
  line-height: 1.5em;
}

/* ******************************** For all Screens **************************** */

.top-img {
  padding: 0;
  height: 15em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* ***************************** For Tablets Screens *****************************/
@media only screen and (min-width: 600px) {
  body {
    width: 100%;
  }

  #open, #logo {
    display: none;
  }

  #displayNone {
    display: block;
  }

  #nosubmenu a {
    font-size: 25px;
  }

  /* *********************** Header *************************** */
  h1 {
    font-size: 50px;
  }

  /* *********** Hamburger Icon ********* */
  .hamburger, #megamenu {
    background-color: #FFF;
  }

  #hamburger {
    padding-bottom: 20px;
    margin-left: 30px;
  }

  .hamburger {
    width: 50px;
    height: 7px;
    margin: 7px 0;
    border-radius: 10%;
  }

  .hamburger:hover {
    background-color: #EAB856;
  }

  /* ************** Tablet Navigation Layout *********** */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #mainnav>ul, #megamenu {
    display: flex;
  }

  #mainnav>ul>li {
    flex: 1;
  }

  #mainnav>ul>li>a {
    display: block;
  }

  #mainnav {
    margin-top: -90px;
  }

  #megamenu {
    position: absolute;
    left: -9999px;
    padding: 25px;
  }

  #megamenu {
    border: 1px solid gray;
    width: 100%;
  }

  #mainnav ul li:hover #megamenu {
    left: auto;
  }

  #megamenu .nav {
    flex: 1;
  }

  #megamenu .nav ul li a {
    text-decoration: none;
    color: #333;
    line-height: 2em;
  }

  #megamenu .nav ul li a:hover {
    color: #EAB856;
  }

  a {
    /* font-size: 18px; */
    text-decoration: none;
  }

  nav h2 {
    color: #BD1F1A;
  }

  .navalign {
    margin-top: -15px;
  }

  #about {
    margin-left: 40px;
  }

  #nosubmenu {
    margin-top: 12px;
  }

  #report {
    margin-left: 55px;
  }

  /* ************ Articles Layout ************* */
  #trending article, #recent article, .videos, #division article, #division-topstories article, #main-article #aside article {
    display: flex;
  }

  #trending article, #recent article, #division article, #division-topstories article, #main-article #aside article {
    padding-bottom: 1em;
  }

  .trend-img, .recent-img, #division .recent-img {
    /* width: 256px;
    height: 144px; */
    width: 100%;
  }

  .tablet, .desktop {
    margin-left: 1em;
    width: 50%;
  }

  article p, time {
    display: block;
  }

  h3 a {
    font-size: 35px;
  }

  /* ******* Videos *********/
  .videos section {
    /* width: 60%; */
  }

  .more a {
    font-size: 25px;
    padding-right: 1em;
  }

  #aside h3 a {
    font-size: 25px;
  }

  /* **************** Single Article Post Tablet *****************/
  #main-article .post-img {
    padding: 1.2em;
  }

  #soundcloud {
    width: 100%;
  }

  #main-article #aside #subscribe {
    display: block;
  }

  #comment-section .button {
    margin: 0;
  }

  /* ********** Mobile Videos Section ********* */
  .vid-img{
    padding: 10em 15em 10em 15em;
  }

  .videos-flex{
    display:flex;
  }

  iframe{
    margin-left: 1em;
    width: 300px;
    height: 250px;
  }

  .video-title{
    background-color: transparent;
    color: #5CB7A1;
    width: 60%;
    border-bottom: 10px solid #5CB7A1;
    font-size: 30px;
    padding: 1em 0.25em 0.25em 0.5em;
  }

  .singleVid h3{
    font-size: 20px;
    line-height: 1.5em;
    width: 80%;
  }
}

/* ***************************** For Desktop Screens *****************************/
@media only screen and (min-width: 1000px) {
  body {
    width: 100%;
  }

  nav h2, #nosubmenu a {
    font-size: 30px;
  }

  /* ******************* Header ******************* */
  h1 {
    font-size: 50px;
  }

  /* ************** Desktop Navigation Layout *********** */
  #logo {
    display: block;
    margin-left: -5em;
    width: 20%;
    height: 20%;
  }

  #hamburger {
    padding-bottom: 20px;
    margin-left: 30px;
  }

  /* ************ Navigation *************/
  #megamenu {
    border: 1px solid gray;
    padding-left: 50px;
    width: 95.4%;
    z-index: 1000;
  }

  #mainnav {
    margin-top: -90px;
  }

  #nosubmenu {
    margin-left: 3em;
    padding-right: 5em;
  }

  #report, #about, #contact {
    margin-left: -8em;
  }

  #report {
    padding-right: 2em;
  }

  /* ************ Articles Layout ************* */
  #trending article, #recent article, .videos, #division article, #division-topstories article, #main-article #aside article {
    display: block;
  }

  main {
    display: flex;
  }

  #recent, #aside {
    border: none;
    width: 50%;
  }

  .top-img {
    height: 25em;
  }

  .bannerimg {
    width: 100%;
    height: auto;
  }

  #trending, #division-topstories {
    width: 20%;
    padding: 0 1em 0 0;
  }

  .tablet {
    margin-left: 1em;
    width: 120%;
  }

  .recent-img {
    /* width: 256px;
    height: 144px;
    padding: 1em; */
    width: 100%;
  }

  .desktop {
    margin-left: 1em;
    width: 87%;
  }

  /* **** Aside (Videos, Social, Subscribe) **** */
  .videos-img {
    width: 55%;
  }

  #aside {
    background-color: transparent;
    padding-right: 0.5em;
    width: 30%;
  }

  #subscribe {
    display: none;
  }

  #subscribe2 {
    padding: 5em;
    display: block;
    padding: 2em;
  }

  #subscribe2 h2 {
    color: #FFF;
    font-size: 50px;
  }

  input[type="text"] {
    width: 20%;
    padding: 0.5em
  }

  .button {
    width: 10%;
    font-size: 20px;
  }

  /* ************* Division Section Page *********** */
  #division-main {
    margin-left: 1em;
  }

  #division-heading h2 {
    font-size: 55px;
  }

  #division article {
    display: flex;
  }

  #division .desktop {
    margin-left: 1em;
    padding-right: 1em;
  }

  #division {
    width: 45%;
  }

  #division-aside .videos-img {
    width: 40%;
    margin: 0;
  }

  /* ******** Single post Article ********* */
  #main-article #desktop-flex {
    display: flex;
  }

  #main-article {
    margin-left: 8em;
    width: 80%;
  }

  #main-article #aside {
    margin-top: 1em;
    padding-left: 2em;
  }

  #main-article .recent-img {
    /* padding: 1em; */
  }

  #main-article .post-img {
    padding: 1.5em;
  }

  #main-article p {
    line-height: 2em;
  }

  #main-article #aside p {
    display: none;
  }

  #main-article #aside #subscribe {
    width: 375px;
  }

  #main-article #aside input[type="text"] {
    padding-left: 5em;
  }

  #main-article #aside .button {
    width: 30%;
  }

  #comment-section form input[type="text"], textarea {
    padding-right: 10em;
  }

  textarea {
    padding-bottom: 5em;
  }

  #comment-section form .button {
    width: 30%;
  }

  /* ***** Share Buttons ****** */
  #share-buttons {
    width: 75px;
    position: fixed;
    top: 15em;
    left: 1em;
  }

  #share-buttons img {
    width: 55px;
    height: 55px;
    padding-bottom: 0.5em;
  }

  /* ********** Desktop Videos Section ********* */
  iframe{
    margin-left: 2.5em;
    margin-bottom: 1.5em;
    width: 400px;
    height: 250px;
  }

  .video-title{
    width: 60%;
    font-size: 40px;
    padding: 1em 0.25em 0.25em 1em;
  }

}
