* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    border: 0;
    padding: 0;
}

.banner {
    background:#e11;
    color:white;
    text-align: center;
    font-size: 2em;
    display: block;
    padding: 1em;
}

.bannerscroll {
    background:#e11;
    color:black;
    text-align: center;
    font-size: 1em;
    display: block;
    position: sticky;
    top:0;
    padding: 0.5em;
}

.header {
    color:#e11;
    background: white;
    font-size: 2em;
    display: block;
    margin: 10px;
}

.subheader {
    color:#333;
    background: white;
    font-size: 1.5em;
    display: block;
    margin: 10px;
    margin-left: 20px;
}

.text {
    color:black;
    background: white;
    font-size: 1em;
    display: block;
    margin: 10px;
    margin-left: 30px;
}

.floatbox {
    color:black;
    background: white;
    font-size: 1em;
    display: block;
    float: right;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    clear: both;
}

a, a:link, a:visited {
    color:#d22;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color:#e33;
    text-decoration: underline;
}

a:active {
    color:#f44;
}

.footer {
    background:#e11;
    color:black;
    text-align: center;
    font-size: 1em;
    display: block;
    padding: 0.5em;
}