/* Third css, unique for desktop. */

div#nav {
    padding: 0;
}

div#burger {
    display: none;
}

li.navitem {
    display: inline;
}

li.navitem div#content,
li.navitem div#more {
    display: block;
}

div#more li.navitem {
    display: block;
    /* position: relative;
    top: 4px; */
}

#limore {
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    top: -7px;
}