/* First stylesheet, master css. */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#banner {
    max-height: 25vh;
    overflow: hidden;
}

/* NAVBAR */

div#navbox {
    position: sticky;
    top: -1px;
}

div#nav {
    z-index: 11;
    background: #229;
    color: #aa3;
    padding: 1em;
    text-align: center;
}

div#subnav {
    transition: 1s;
    z-index: -10;
    background: #118;
    padding: 1em;
    text-align: center;
    position: relative;
    top: -1px;
    overflow: hidden;
}

div#subnav[status=closed],
div#subnav[status=closed] * {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div#subnav[status=open],
div#subnav[status=open] * {
    max-height: 100px;
}

span.navitem {
    padding: 1em;
}

/* FOOTER */

div#footer {
    background: #229;
    color: #aa3;
    padding: 1em;
}

/* LINKS */

a, a:link, a:visited {
    text-decoration: none;
    color: #aaf;
}

a:hover {
    color: #88b;
    cursor: pointer;
}

a:active {
    color: transparent;
    text-shadow: 2px 2px 0 #88b;
}